In [3]:
%pip install plotly

Collecting plotly
  Downloading plotly-5.4.0-py2.py3-none-any.whl (25.3 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in c:\users\aleksa.colorado\anaconda3\lib\site-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.4.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

The system cannot find the path specified.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import plotly as ply
import os

## Importing data

In [3]:
athletes = pd.read_excel('Athletes.xlsx')
medals = pd.read_excel('Medals.xlsx')

C:\Users\Aleksa.COLORADO\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [15]:
# NOC = Country name

# fix some countrie names
athletes['NOC'] = athletes['NOC'].replace('ROC', 'Russia')
athletes['NOC'] = athletes['NOC'].replace("People's Republic of China", 'China')
athletes['NOC'] = athletes['NOC'].replace('Islamic Republic of Iran', 'Iran')
athletes['NOC'] = athletes['NOC'].replace('United Republic of Tanzania', 'Tanzania')
athletes['NOC'] = athletes['NOC'].replace('Democratic Republic of the Congo', 'DR Congo')

athletes

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia   Russia             Shooting
11083      ZYUZINA Ekaterina   Russia              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

## Visualization

In [20]:
sns.set_style("ticks")
plt.figure(figsize = (20, 10))
sns.barplot(x = athletes['NOC'],
            y = athletes[40],
            linewidth = 1,
            pallete = sns.color_palette("rocket", n_colors = 30))
plt.xticks(rotation = 90)
plt.xlabel("Top 30 countries", fontsize = 20)
plt.ylabel("Number of athletes", fontsize = 20)
plt.title("Number of athletes for top 30 countries")

KeyError: 40